<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Detail</title>
  </head>
  <body>
    <article>
      <header>
        <h1><%= @movie.title %></h1>
        <%= image_for(@movie) %>
      </header>
      <h3>Description</h3>
      <p>
        <%= @movie.description %>
      </p>
      <h3>Rating</h3>
      <p>
        <%= @movie.rating %>
      </p>
      <h3>Cast</h3>
      <p>
        <%= @movie.cast %>
      </p>
      <h3>Director</h3>
      <p>
        <%= @movie.director %>
      </p>
      <h3>Duration</h3>
      <p>
        <%= @movie.duration %>
      </p>
      <h3>Released On</h3>
      <p>
        <%= @movie.released_on.to_s(:short_ordinal) %>
      </p>
      <h3>Total Gross</h3>
      <p>
        <%= format_total_gross(@movie) %>
      </p>
    </article>

    <%= link_to("All Movies", root_path) %> |
    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <%= link_to 'Delete', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= render 'footer' %>
  </body>
</html>
